@inherits LayoutComponentBase

<style>
    body {
        background-color: #121212;
    }
    
    .site-header {
        color: #ffd700;
        font-family: 'Permanent Marker', cursive;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
</style>

<div class="page">
    <header class="text-center py-3">
        <h1 class="site-header display-4">PoVicTranslate</h1>
    </header>
    <main>
        <div class="content px-4">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
