name: Build .NET MAUI Client

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  DOTNET_CORE_VERSION: 9.0.x
  MAUI_PROJECT_PATH: MauiClient/MauiClient.csproj

jobs:
  build-maui:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_CORE_VERSION }}
      - name: Restore
        run: dotnet restore ${{ env.MAUI_PROJECT_PATH }}
      - name: Build
        run: dotnet build ${{ env.MAUI_PROJECT_PATH }} --configuration Release --no-restore
      - name: Test
        run: dotnet test MauiClient.Tests/MauiClient.Tests.csproj --configuration Release --no-build 